//======================================= IMPORTS =======================================
/* 
    You can import variables, functions and mixins from other SASS files by using the @use keyword
*/


//------------------- namespaces
/* 
    You can create namespaces in SASS using the 'as' keyword.
    The name of the file serves as another namespace as well.
*/
@use '_partial.scss' as p;       

.myClass {
    color: p.$custom-color;          // p is a namespace that can be used to access all the variables and functions from another file
    color: partial.$custom-color;    // you can also use the name of the file as a namespace   
}



//------------------- Redefining variables in other modules
/* 
    You can redefine variables imported from a different file by using
    the 'with' keyword
*/

@use '_partial.scss' with (       
    $custom-color: pink,                // this SASS variable is from '_partial.scss'
    $custom-font: "courier",            // this SASS variable is from '_partial.scss'
    $custom-font-size: 100px,           // this SASS variable is 
);   


.example_one { 
    background-color: partial.$custom-color;  //$custom-color is a variable from _partial.scss
}













//======================================= SASS VARIABLES =======================================
/* 
    You can create variables in SASS by using the $ operator
*/

$variable-one: red;                                       
$variable-two: blue;
$variable-three: 150px;
$font-stack: 'Times New Roman', sans-serif;


.class_selector {
    color: $variable-one;
    background-color: $variable-two;
    width: $variable-three;
    font: $font-stack;
}



//------------------- !default
/* 
     Any variable declared with !default means that the variable can be changed 
     in a different file after its been imported. However, this is optional.
*/

$variable-three: green !default; 




//------------------- Private variables
/* 
    Any variable declared with - or _ will make the variable into a private variable.
    Private variables can't be exported from the file in which it was declared in.
*/

$-private: "whatever";                                      //this is a private variable that can only be used here, these variables starts with - or _














//======================================= NESTING SELECTORS =======================================
/* 
    You can nest selectors inside other selectors in SASS, this improves readability.
*/
nav {
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &.myClass {                                    // & will be replaced by nav
        color: red;
    }
}










//======================================= MIXINS =======================================
/* 
    @Mixins are re-usable blocks of code in SASS that lets you re-use CSS properties
    You must use @include in a selector to call the function
*/

@mixin group-one($color: red) {              // optional argument                  
    background-color: $color;                             
    color: $color;                                           
    box-shadow: 0 0 1px $color;                   
    @content;                               // a selector can pass additional css properties                                      
}
 
@mixin group-two($color) {                  // required argument                               
    background-color: $color;
}

@mixin group-three {
    width: 500px;
    height: 500px;
    border: 1px solid red;
}


.myClass {
    @include group-one {        
        display: inline-block;              // this will replace the @content in the @mixin                      
    };
    @include group-two(green);                  
    @include group-three;
}












//======================================= EXTENTIONS =======================================
/* 
    You can use the @extend keyword to apply the css properties of one selector to another selector
*/

.class_one {
    background-color: blue;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class_two {
    @extend .class_one;                 //this selector will now have all the properties from .class_one
    position: absolute;
    top: 30px;
    right: 45px;
}















//======================================= CONDITIONAL STATEMENTS =======================================
/* 
    You can use @if, @else, @else-if, and @if-not to check a condition and return a set of css-properties
*/

$random: if(1 == 1, 30px, none);                           //if statements can be defined in one line to assign a value to a variable

@mixin theme($theme) {
    @if $theme == red {                                  
        background-color: red;                         
        color: orange;
    }
    @else if $theme == blue {
        background-color: blue;
        color: green;
    }
    @else if $theme == black{
        background-color: black;
        color: white;
    }
    @else {
        @error "Color you choose is not black, blue or red, #{theme}";    //@error is used to display an error on the terminal
    }

    @if not ($theme == purple) {                                    // this is the same as $theme !== purple
        border: purple;
    }
}


div{
    @include theme(blue);
    width: $random;
}   










//======================================= LOOP =======================================
/* 
    You can use the following loops to iterate a certain number of times.
    This can be usefull for creating multiple selectors.
*/


//------------------- @each
/* 
    You can use the @each keyword to loop through a list or map.
*/


$sizes: 10px, 20px, 30px;          

@each $size in $sizes {                            
    .icon-#{$size} {                // this will create 3 selectors
        font-size: $size;          
        height: $size;
        width: $size;
    }
}

$my-map: (
    "display": inline-block,
    "height": 50px,
    "width": 50px
);

@each $property, $value in $my-map {    // you can also iterate through the values of a map
    .random_class {                     
        #{$property}: $value;           // in this case, it will create 3 classes with different properties
    }
}




//------------------- @for
/* 
    You can use @for to loop through a set of numbers. It works similarly to a for loop in JS.
*/


@for $i from 1 through 3 {                                              // 3 will be included
    .loop-#{$i} {
        top: $i;
    }
}

@for $i from 1 to 3 {                                                    // 3 will be excluded
    .loop-#{$i} {
        bottom: $i;
    }
}





//------------------- @while
/* 
    You can use the @while loop in SASS to loop through a set of numbers. It works similarly to while loop in JS
*/

$number-one: 1;
$number-two: 10;

@while $number-one < $number-two {
    $number-one: $number-one + 1;
    .loop {
        color: red;
    }
}








//======================================= MAPS =======================================
/* 
    You can create maps with a SASS variable, maps are used to create a mapping between 
    a key and a css value
*/

$my-colors: (                                                        
    "primary-color": blue,                                                // "key": value
    "secondary-color": red,
    "third-color": green,
    "function_one": meta.get-function(function_one)                       // maps can also contain functions (scroll down for notes on functions)
);





//------------------- NESTED MAPS
/* 
    You can also have nested maps within other maps
*/

$my-colors: (    
    "primary-colors": blue,
    "secondary-color": green,
    "dark-colors": (                                //nested maps                           
        "fourth-color": grey,
    )
);




//------------------- MAP FUNCTIONS
/* 
     You can use the following functions to manipulate maps 
*/

@use 'sass:map';                                                    // loading the map module

$bool: map.has-key($map, "color");                                  // returns true or false if the map has the specified key
$keys: map.keys($map);                                              // returns a list of all the keys in the map
$values: map.values($map);                                          // returns a list of all the values in the map
$new-map: map.set($map, "color", blue);                             // setting a new value for a key in the map (replaces the old value if it already exists) and returns the updated map
$new_map: map.merge($map, $other-map);                              // merging two maps together (returns the updated map)
$new_map: map.remove($map, "left");                                 // removing a key from the map (returns the updated map)
$nested-map: map.deep-merge($map, $my-positions);                   // merging two maps together with all of its nested maps (returns the updated map)
$nested-map: map.deep-remove($my-colors, "dark-colors", "fourth-color");    // removing a property from a nested map

.myClass {
    background-color: map.get($my-colors, "primary-color");                 // getting a property from a map   
}












//======================================= LISTS =======================================
/* 
    Lists are a collection of css values that are assigned to a SASS variable.
    Lists are similar to arrays in JS, every value is assigned a numeric index.
*/

$color-list: red, green, blue;                    // creating a list



//------------------- LIST FUNCTIONS
/* 
    You can use the following functions to manipulate lists in SASS
*/

@use 'sass:list';                                       //loading the list module

$my-list: list.append($color-list, yellow);             // we append a new css value to the end of the list and return a new list (does not mutate original list)             
$my-list: list.join($color-list, $my-other-list);       // we merge two lists into one, and we return the new list (does not mutate original list)
$my-list: list.index($color-list, 20px);                // searches for a value in a list and returns its index
$my-list: list.set-nth($color-list, -1, 50px);          // inserting a new css value at index n (does not mutate original list) (-1 means we insert it at the end of the list)
$color: list.nth($color-list, 2);                       // searches for the value in the list at index 2

.random_list {
    font: $my-list;
}










//======================================= INTERPOLATION =======================================
/* 
    You can use interpolation in SASS by using the following syntax. Interpolation allows
    you to dynamically create css-properties based on the value of a variable

    #{$variable}
*/


@mixin my-properties($name, $top-or-bottom) {             
    .new_class_#{$name} {                                                   
        background-image: url("images/#{$name}.jpg");                       //syntax starts with #{variable-name}
        #{$top-or-bottom}: 50px;    
    }
}


.myClass{
      @include my-properties("earth_image", top);                           //creating a class with @include  
}















//======================================= FUNCTIONS =======================================
/*
    You can create functions in SASS with similar syntax as functions from JS
    Keep in mind that you can pass a list to a function that has the following 
    syntax for a parameter

    @function my_function($list...){}

    my_function(1,2,4,5,6,7);
*/


@function my_function($number-one, $number-two, $custom: 30){       
    $my-variable: 23;
    $result: 0

    @for 1 through $my-variable{
        $result: $result + 1;
    }
    @return $result * $number-one;                             
}


.myFunction {
    position: absolute;
    top: my_function(2, 3) * 1px;
}





