/* margin:auto will center an element horizontally*/
/* margin-left=inherit will inherit the value from the parent element (think of nested elements)*/
/* when using width and padding in the same element, make sure to use box-sizing: border-box to keep padding from adding to the width of the element*/
/* outline has the same properties as border (border-color,outline-color; border-style, outline-style)*/
/* outline-offset defines the space between the outline and the border on all sides*/
/* AUTO means that the property will be automatically adjusted according to the content of the element*/
/* use POSITION:fixed/relative/static/absolute to control the position of an element*/
body{
    background-color:white;                   /* used to define the color of the background of an object */
    /*background-image: url("images/blue checkered.png");*/ 
    background-size:cover;                      /* used to determine the size of the background*/
    background-attachment:fixed;                /* used to determine how exactly the image will be attached to the element*/
                                                    /* fixed =  image will stay fixed and not move...scroll = image will move when you scroll the webpage*/
    background-position:center;   
    background-repeat:no-repeat;
    border-color:none;                          /* border-color: red green blue yellow ....... top border, right border, bottom border, and the left border*/
    border-style:solid;                         /* keep in mind that this property must be set BEFORE any other border properties are set*/
    border-width:0px;
    border-radius: 0px;                         /* creates rounded edges on the borders*/   
    opacity: 1.0;                               /* defines how transparent the element will be, 1.0 is fully visible, 0.0 is completely transparent*/
    max-width:none;                             /* element will not get wider than the max width*/            
    max-height:none;
    /*text-decoration:underline .......... try out this property for more text formatting*/
}   

*{                                              /* this will affect EVERY element in the html file*/
    /*text-align:center;  */                      /* keep in mind, text-align will center text/elements horizontally*/
    /*text-align:justify*/                      /* every line in a <p> element will be stretched so that every line has equal width*/
    /*vertical-align:baseline */
    font-family: Helvetica, sans-serif;         /* in case the browser doesnt support Times new roman, it will try the next font, courier*/
    /* font-style: italic; */                    /* mostly used for italic text*/
    /* font-weight:bold  or  font-weight:400*/  /* mostly used for bold text, and how bold we can make the text*/
    /* font-size: 40px   or  font-size: 2.5em*/ /* setting the size of the text in pixels or em*/
    /* font-size: 10vw*/                         /* vw will allow the user to resize the text when they resize the window, the text will start at 10% of its viewport width */
    /*cursor:crosshair;*/                            /* defines how the mouse will look in the webpage*/
    /* z-index: 1 */                            /* only works with elements with the POSITION attribute*/
                                                     /* z-index: 3 will be in front of z-index: 2, z-index: 2 will be in front of z-index: 1*/
    /* margin:auto*/                            /* this will center any element horizontally*/

}








/*-----------------------------------------------------------SELECTORS------------------------------------------------------------------------------------------------------*/


/* the selector below is similar to div p {}*/
/* it will not select a <p> element that is nested within another element who is nested within <div>*/
div > p{
    color:none;
}

/* this selector will select the first <p> element that comes after <div>*/
div + p{
    color:none;
}

/* this selector will select all <p> elements that are preceded by <div> */
div ~ p
{
    color:none;
}

 /* The # defines an ID that can only be used by one element*/
#HeaderOne{                                     
    text-align: center;   
    color: rgb(255, 255, 255);                 
    font-size: 50px;
    font-family: courier;
    padding: 30px;
    margin-top:0px;
    border-radius:50px;
    margin-bottom:10px;
    
}   

/* this will select <a> elements with the class="className" */
a.className{
    color:none;
}











/*-------------------------------------------------------------------ATTRIBUTE SELECTORS----------------------------------------------------------------------------------------------------------------------*/

/* this will select all elements with the title attribute*/
[title]{
    color:none;
}

/* this will select only the <p> elements with the name attribute*/
p[name]{                                      
    background-color:blue;
}

/* same as above but will only select elements with attribute name="whatever"*/
p[name="whatever"]{                            
    color:blanchedalmond;
}

/* this will select all <p> elements that have the title attribute containing a space separated list of words, one of which MUST be flower*/
p[title~=flower]{
    color:none;
}

/* this will select any element that has a class name that is exactly "any" or a class name that has "any-"*/
[class|=any]{
    color:none;
}

/* this will select all <p> elements that have a class name that starts with "top"*/
p[class^="top"]
{
    color:none;
}

/* this will select all elements that have a class name that ENDS with "money" */
[class$="money"]
{
    color:none;
}

/* this will select all elements that have a class name that contains the words "honey" anywhere in the name*/
[class*="honey"]
{
    color:none;
}












/*--------------------------------------------------------------------------PSEUDO CLASSES--------------------------------------------------------------------------*/

/* this selector will change the background color when the user clicks/focuses on the input element*/
input:focus{
    background-color:none;
}

/* a:hover MUST come after a:link and a:visited in order to be effective! a:active MUST come after a:hover in order to be effective!.*/
a:link{
    color:none;
}

a:hover{                                        /* :hover can be used by other elements*/             
    color:blue;
}

img:hover{
    opacity:0.5;
}

/* this will select all the first <p> child elements that are nested within other elements  */
p:first-child{
    color:none;
    content:"";
}

/* this will select all the first <i> child elements that are nested within <p> elements*/
p i:first-child{
    color:none;
    content:"";
}

/* this will select all the <i> elements that are nested within <p> elements that are the first child of another element*/
i:first-child p{
    color:none;
    content:"";
}












/*---------------------------------------------------------PSEUDO ELEMENTS----------------------------------------------------------------------------------------------------------------*/
/* you can also combine the pseudo elements, in this case, order doesnt matter*/
/* */
/* this selector will choose the first line inside every <p> element */
p::first-line{
    color:none;
    content:"";
}

/* This selector will choose the first letter of every <p> element CAN ONLY BE USED WITH BLOCK LEVEL ELEMENTS*/
article p::first-letter{
    color:red;
    font-size:30px;
    content:"";
}

/* adding content before each <header> element*/
header::before{
    /*content: url("images/faviconThingie.png"); */
    color:none;
}

/* adding content AFTER each <p> element*/
p::after{
    color:none;
}

/* will change the content for every marker in all lists*/
::marker{
    color:none;
}

/* ::selection will change how highlighting text is displayed*/
article p::selection{
    color:purple;
    background-color:red;
}










/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



a.highlight{                                    
    color:black;
}

a.highlight:hover{                              /* same as above*/
    color:blue;
}



/*----------------------------------------------------------------<div> will have red text------------------------------------------------------------------------------------------------------------------*/
/*div{
    color:blue;
} */

/*div{
    color:red;
   
} */





/*---------------------------------------------------------------TABLES---------------------------------------------------------------------------------------------------------- */

table{
    border-collapse:collapse;              /*will force the borders to collapse into 1 border */
}

table,th,td{
    border: 1px solid black;
    color:black;
    /*border-radius: none; */   /* use this property to get rounded corners for the cells in the table*/
    /*border-style: none;  */   /* use this property to decorate the borders of an object (dotted borders, dashed lines, etc)*/
}

tr:hover{
    background-color:blue;
}

/* nth-child selector will choose every element that is the nth child of its parent*/
/* in the case below, we will choose every 2nd, 4th, 6th, 8th... of its sibling elements*/
td:nth-child(even){
    color:green;
}










/*---------------------------------------------------------------NAVIGATION MENU---------------------------------------------------------------------------------------------------------- */

/* Do this first to remove the markers of the list*/
nav ul{
    list-style-type: none;  /* defines the marker used for the lists, in this case, there is no marker*/
    /*list-style-image: url('images/rainbow\ checkered.png') */
    background-color:dimgray;
    margin:0px;
    padding:0px;
    text-align:left;
}


/* all list items will behave like inline-block elements, they will be stacked horizontally but they can have their padding/margin adjusted*/
nav ul li, .dropdownbutton{                                  /* all other list items*/
    display:inline-block;
    border-right: 1px solid white;
}  

nav ul li:last-child{
    float:right;
    border-left: 1px solid white;
}

@media screen and (max-width: 1000px){
    nav ul li:last-child{
        display:inline-block;
        float:none;
        border-left:none;
        border-right: 1px solid white;
    }

    nav ul{
        text-align:center;
    }
}

@media screen and (max-width:750px){
    nav ul li{
        width:100%;
        border-bottom: 1px solid white;
    }

}

nav ul li:first-child{
    background-color:green;
}
nav ul li:first-child a{
    color:white;
}


/*  decorating links for the navigation menu*/
nav ul li a, .dropdown-content a{  
    color: white;
    margin: 15px;
    display:block;                  /* allows us to adjust the top and bottom padding/margins*/
}



.dropdown-content{
    display:none;
    position:absolute;              /* the dropdown menu will be placed relative to its initial containing block*/
    z-index:1;   
    background-color:rgb(42, 43, 43);
    min-width:100px;
}

.dropdownbutton:hover .dropdown-content{
    display:block;
}

nav ul li a:hover:not(.currentPage){   
    background-color:rgb(42, 43, 43);
    padding:15px;                       /* keep in mind NOT to add padding and margin here from the selector above*/
    margin:0px;
}
/*------------------------------------------------------------- ASIDE ---------------------------------------------------------------------------------------------------------------*/

aside{
    background-color:rgb(34, 33, 33);
    color: white; 
    padding: 10px; 
    border-radius:20px;
    float:right;
}


/*-------------------------------------------------------------------SIDE BAR--------------------------------------------------------------------------------------------------------------*/

section ul{
    float:left;
    background-color:rgb(34, 33, 33);
    list-style-type:none;
    padding:0px;
    margin:0px;
    width:200px;
}

section ul li{
    border: 1px solid dimgray;
}

section ul li a{
    color:white;
    display:block;
    padding: 16px 16px;                     /* top and bottom, left and right*/
}

section ul li a:hover{
    background-color:dimgrey;
}

/* this will change the content of all <a> elements EXCEPT the <a> elements with the class="nameofClass"*/
a:hover:not(.nameofClass){
        color:none;
}

@media screen and (max-width: 750px)
{
    section ul{
        width:50%;
        margin-bottom: 20px;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    background-color:dimgrey;
    padding: 30px;
    color:white;
    text-align:center;
    float:none;
}


/*-----------------------------------------------------------------CLASSES------------------------------------------------------------------------------------------------------------ */

.linkButton{
    background-color: rgb(0, 255, 76);
    color: rgb(255, 0, 0);
    padding: 5px;         
    margin-top:10px;   
    display: inline-block;         /* display property determines if an element is treated as block or inline */
}                                   /* inline-block allows to set the width and height of the element and does not add a line break AFTER the element*/

.borderColors{
    border: 2px solid red; /* defines a solid border around the object*/
}