* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel {
    width: 300px;
    height: 300px;
    position: relative;                   /* this is for the buttons*/
    margin: 30px auto;   
}

.carouselContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carouselTracker {   
    position: relative;                 /* this is for the positioned absolute images*/
    height: 100%;   
    list-style: none;
    transition: transform 0.5s ease-in;
}

.carouselSlide {
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.carouselImage {
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.carouselButton_left, .carouselButton_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);                /* the percentage value in this property takes is the percentage of the size of the element*/
    border: none;                               /* im doing this to perfectly center the button vertically*/
    background: transparent;
    cursor: pointer;
}

.carouselButton_left {
    left: -30px;
}

.carouselButton_right {
    right: -30px;
}

.icon-size {
    font-size: 1.5rem;
}

.carouselNav {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.carouselDot {
    border: 0px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: grey;
    cursor: pointer;
}

.carouselDot.currentSlide {
    background-color: black;
}